@{
    ViewData["Title"] = "View Concepts";
    List<ConceptModel> concepts = TempData["concepts"] as List<ConceptModel>;
}
<head><link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">

</head>

<h1>@ViewData["Title"]</h1>

<p>Here are the all the concepts that I have learned about C# so far.</p>


  <div class="container">
     <div class="searchstuff">
        
         <div style="display: inline-block; padding-right: 10px">
            <form action="/Home/SearchConcept" method="post">
                <div class="form-group" style="display: inline-block; padding-right: 10px">
                    <label>Search by title:   </label>
                    <input type="text" name="searchTerm"/>
                </div>
                <div style="display: inline-block; padding: 10px">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>          
            </form>
         </div>
         <div style="display: inline-block;">
            <input type="button" value="Reset" class="btn btn-primary" onclick="location.href='@Url.Action("ResetConcepts", "Home")'" />       
         </div>
        
     </div>
        
      
      <div class="grid">

        @if (concepts != null)
        {
            @foreach(var concept in concepts) {
              <div class="flip-card">
                <div class="flip-card-inner">
                  <div class="flip-card-front">
                    <h1 class="flip-card-title">@concept.title</h1>
                    <p class="flip-card-description">@concept.description</p>
                  </div>
                  <div class="flip-card-back">
                    <br />
                    <p>@concept.details</p>
                    <form asp-action="UpdateConcept" asp-controller="Home" method="post" style="display: inline-block;">
                        <input type="hidden" asp-for="@concept.id" value="@concept.id"/>
                        <button type="submit" class="btn btn-success">Update</button>
                    </form>
                    <form action="/Home/DeleteConcept" method="post" style="display: inline-block;">
                        <input type="hidden" asp-for="@concept.id" value="@concept.id"/>
                        <button type="submit" class="btn btn-success">Delete</button>
                    </form>
                  </div>
                </div>
              </div>
            }

        }

      

    </div>
  </div>